{% extends 'TorgovorotTorgBundle:Default:main.html.twig' %}

{% block body %}
    Blog homepage
{% endblock %}

{% block title %}
    Main Title
{% endblock %}    
    
    
{% block menu_list %}
{#    {% for item in menu %}  
                                
        <a href="{{ path(item.link) }}">{{item.getName}}</a>
    {% endfor %}#}

{% endblock %}
        


{# Рекомендованные #}
{% block recomend %}
 
{% endblock %}

           
            
{# Список обьяв по категории #}
{% block item_list %}
 
{% endblock %}